{% extends "base.html" %}

{% block "title" %}Taisymas{% endblock %}

{% block "content" %}
<h1>Taisymas {{ order.date }}</h1>
<p><strong>Automobilis: </strong>{{ order.vehicle }}</p>
<p><strong>Būsena: </strong>{{ order.get_status_display }}</p>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Paslauga</th>
        <th>Kaina</th>
        <th>Kiekis</th>
        <th>Suma</th>
    </tr>
    </thead>
    <tbody>
    {% for line in order.lines.all %}
    <tr>
        <td>{{ line.service.name }}</td>
        <td>{{ line.service.price }}</td>
        <td>{{ line.qty }}</td>
        <td>{{ line.line_sum }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="3"><strong>BENDRA SUMA:</strong></td>
        <td><strong>{{ order.total }}</strong></td>
    </tr>
    </tbody>
</table>
{% endblock %}