{% extends "base.html" %}

{% block "title" %}Automobiliai{% endblock %}

{% block "content" %}
<h1>Autoserviso automobiliai:</h1>
{% for vehicle in vehicles %}
<p><a href="{% url 'vehicle' vehicle.pk %}">{{ vehicle }}</a></p>
<hr>
{% endfor %}
<div class="container puslapiai">
    <nav aria-label="...">
        {% if vehicles.has_other_pages %}
            <ul class="pagination pagination-sm justify-content-center">
                {% for i in vehicles.paginator.page_range %}
                    {% if vehicles.number == i %}
                        <li class="page-item active">
                            <a class="page-link">{{ i }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </nav>
</div>
{% endblock %}